[submodule "blog/themes/hugo-future-imperfect-slim"]
	path = blog/themes/hugo-future-imperfect-slim
	url = https://github.com/pacollins/hugo-future-imperfect-slim.git
[submodule "blog/themes/ananke"]
	path = blog/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "blog/public"]
	path = blog/public
	url = https://github.com/Isites/Isites.github.io.git
	branch = master
